@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.content {
    display: flex;
    height: 100vh;
}

.title-app {
    width: 50%;
    margin-top: 200px;
}

.skyter-title {
    margin-right: 220px;
    font-size: 48px;
    color: #6fcced;
}

.skyter-desc {
    width: 300px;
    text-align: start;
    margin-left: 200px;
}

.form-login-box {
    width: 25%;
    height: 53%;
    background-color: white;
    margin-top: 200px;
    border-radius: 10px;
}

.form-login {
    width: 200px;
    margin-top: 20px;
    margin-left: 25px;
}

.input-login {
    font-family: 'Poppins', sans-serif;
    width: 300px;
    border-radius: 2px;
    border: 2px solid #e0e0e0;
    padding: 5px 10px;
}

.input-password {
    margin-top: 5px;
}

.submit-login-btn {
    background-color: #6fcced;
    border-style: none;
    color: white;
    padding: 10px 140px;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
}

.btn-facebook {
    background-color: #124cec;
    border-style: none;
    color: white;
    padding: 10px 90px;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
}

.btn-google {
    background-color: white;
    border-color: rgb(236, 23, 23);
    color: black;
    padding: 10px 90px;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
}

.line-form {
    margin-top: 15px;
    border-top: 1px solid #b3b3b3;
    width: 70%;
}

.akun-baru-btn {
    background-color: #e36387;
    border-style: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 10px 50px;
    margin-top: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    /* For mobile */
    .login {
        height: fit-content;
    }

    .content {
        display: block;
        margin-top: -35px;
    }

    .title-app {
        margin-top: 0px;
    }

    .skyter-desc {
        margin-left: 25px;
        text-align: center;
    }

    .skyter-title {
        margin-left: 100px;
    }

    .form-login-box {
        margin-top: 30px;
        width: 320px;
        height: 380px;
        margin-left: 15px;
        padding-top: 1px;
        padding-bottom: 10px;
    }

    .form-login {
        margin-left: 25px;
    }

    .input-login {
        width: 250px;
    }

    .submit-login-btn {
        padding: 10px 120px;
    }

    
}