@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
.akun-baru-button {
    background-color: #e36387;
    border-style: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 10px 50px;
    margin-top: 10px;
    cursor: pointer;
}

.register-title {
    display: flex;
}

.register-button {
    background-color: #63e363;
    border-style: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 5px 20px;
    margin-right: 150px;
    margin-bottom: 20px;
    cursor: pointer;
}

.cancel-button {
    background-color: #e36387;
    border-style: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 5px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    /* For mobile */
    .register-button {
        padding: 5px 30px;
        margin-right: 10px;
    }

    
}